{% extends "base.html" %}

{% load url from future %}

{% block extrastyle %}

<script type="text/javascript">
    $(function () {
        $("#solution-accordion").accordion({
            collapsible: true,
        });
    });
</script>

{% endblock %}

{% block app-content %}

<div id="solution-accordion">
{% for subSolutions in allSolutions %}
    <h3>
        <a href="#"> {{ subSolutions.subEnvironment }} </a>
    </h3>
    <div>
    {% for solution in subSolutions.someSolutions %}
        <p> {{ solution }} </p>
    {% endfor %}
    </div>
{% endfor %}
</div>

<form enctype="multipart/form-data" action="{% url 'solution.views.index' %}" method="post">{% csrf_token %}
<table>
{{ formset }}
</table>
<input type="submit" value="Simulate" />
</form>

{% endblock %}
