{% extends "base.html" %}

{% load url from future %}

{% block extrastyle %}

<script type="text/javascript">
    $(function () {
    {% for subSolutions in allSolutions %}
    {% with subEnvironment=subSolutions.subEnvironment %}
        $("#solution-accordion-{{ subEnvironment.id }}").accordion({
            autoHeight: false,
            collapsible: true,
        });
    {% endwith %}
    {% endfor %}

        $("#subenv-accordion").accordion({
            autoHeight: false,
            collapsible: true,
        });
    });
</script>

{% endblock %}

{% block app-content %}

<div id="subenv-accordion">
{% for subSolutions in allSolutions %}
{% with subEnvironment=subSolutions.subEnvironment %}
    <h3>
        <a href="#"> {{ subEnvironment }} </a>
    </h3>
    <div>
        <div id="solution-accordion-{{ subEnvironment.id}}">
        {% for is_novel, paramId, formset in subSolutions.forms %}
            <h3>
            {% if is_novel %}
                <a href="#"> {{ formset.0.name.value }} </a>
            {% else %}
                <a href="#"> New Solution </a>
            {% endif %}
            </h3>
            <div>
                <form enctype="multipart/form-data"
                {% if is_novel %}
                    action="{% url 'solution.views.index_change' paramId %}"
                {% else %}
                    action="{% url 'solution.views.index_add' paramId %}"
                {% endif %}
                    method="post">
                    {% csrf_token %}

                    <table>
                    <!--
                    {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}

                    {% for field in form.visible_fields %}
	                <tr><th>{{field.label_tag}}</th>
                    <td>{{field}}</td></tr>
                    {% endfor %}
                    -->
                    {{ formset.as_table }}
                    </table>

                    <input type="submit" value="Submit Solutions" />
                </form>
            </div>
        {% endfor %}
        </div>
    </div>
{% endwith %}
{% endfor %}
    <h3>
        <a href="#"> Unsolved SubEnvironments </a>
    </h3>
    <div>
    <form enctype="multipart/form-data"
        action="{% url 'solution.views.index_add' 0 %}"
        method="post"> {% csrf_token %}
        <table>
            {{ othersFormset }}
        </table>
        <input type="submit" value="Submit Solutions" />
    </form>
    </div>
</div>

{% endblock %}
