{% extends "base.html" %}

{% load tag_extras %}
{% load url from future %}

{% block extrastyle %}

<script src="/resources/jstree/jquery.jstree.js" type="text/javascript"></script>

<script type="text/javascript">
    $(function () {
    {% for city in cityList %}
        $("#subenvironment-tree-{{ city.pk }}").jstree({
            'json_data': {
                'data' : [
                {% for ring in city.ring_set.all %}
                {
                    'data': 'Ring {{ ring.index|escapejs }}',
                    'state': 'open',
                    'children': [
                    {% for subEnvironment in ring.subenvironment_set.all %}
                    {
                        'data': '{{ subEnvironment.name }}',
                        'metadata': {
                            {% url 'subenvironment.views.index' as subEnvUrl %}
                            'link': '{{ subEnvUrl|escapejs }}',
                        },
                    },
                    {% endfor %}
                    ]
                },
                {% endfor %}
                ]
            },
            'themes': {
                'theme': 'apple',
            },
            'plugins': [
                'themes',
                'json_data',
                'ui',
                'crrm',
            ],
        }).bind("select_node.jstree", function (event, data) {
            var link = data.rslt.obj.data('link');
            if (link)
                window.location.href = link;
        });
    {% endfor %}
    });
</script>

{% endblock %}

{% block app-content %}

{% if cityList %}
    {% for city in cityList %}
    <b> {{ city.name }} </b>
    <div id="subenvironment-tree-{{ city.pk }}">
    </div>
    {% endfor %}
{% else %}
    <p>No cities are available.</p>
{% endif %}

{% endblock %}
