{% extends "base.html" %}

{% load url from future %}
{% load socketio_tags %}
{% load tag_extras %}

{% block extrastyle %}

{% socketio %}

{% with owners=subEnvironment.owners.all %}
{% if subEnvironment %}
{% if user.is_superuser or owners|filteruser:user %}
<script src="/resources/jstree/jquery.jstree.js" type="text/javascript"></script>

<script type="text/javascript">
    $(function () {
        $("#subenvironment-details").jstree({
            'json_data': {
                'data' : [
                {
                    'data': 'Environment Agents',
                    'state': 'open',
                    'children': [
                    {% for component in subEnvironment.envagent_set.all %}
                    {
                        'data': '{{ component.name }}',
                        'metadata': {
                            'link': '{{ component.file.url|escapejs }}',
                        },
                    },
                    {% endfor %}
                    ]
                },
                {
                    'data': 'Artifacts',
                    'state': 'open',
                    'children': [
                    {% for component in subEnvironment.artifact_set.all %}
                    {
                        'data': '{{ component.name }}',
                        'metadata': {
                            'link': '{{ component.file.url|escapejs }}',
                        },
                    },
                    {% endfor %}
                    ]
                },
                {
                    'data': 'Organizations',
                    'state': 'open',
                    'children': [
                    {% for component in subEnvironment.organization_set.all %}
                    {
                        'data': '{{ component.name }}',
                        'metadata': {
                            'link': '{{ component.file.url|escapejs }}',
                        },
                    },
                    {% endfor %}
                    ]
                },
                ]
            },
            'themes': {
                'theme': 'apple',
            },
            'plugins': [
                'themes',
                'json_data',
                'ui',
                'crrm',
            ],
        }).bind("select_node.jstree", function (event, data) {
            var link = data.rslt.obj.data('link');
            if (link)
                window.location.href = link;
        });
    });
</script>
{% endif %}

{% if abstractProcess %}
{% with subEnv=abstractProcess.subEnvironment procId=abstractProcess.id %}
<script type="text/javascript">
    $(document).ready(function () {
        $('#simulation-accordion').accordion({
            animated: 'bounceslide',
            autoHeight: false,
            navigation: true,
            collapsible: true,
        });

        try {
            var socket = new io.Socket();
            socket.on('connect', function () {
                var id = 'abstract-process-{{ procId }}';
                socket.subscribe(id);
            });
            socket.on('message', function (data) {
                var id = '#div-process-{{ procId }}';
                $(id).html(function(index, oldhtml) {
                    var tpl = '<div> {0} </div>';
                    var delta = $.validator.format(tpl, data);
                    return oldhtml + delta;
                });
            });
            socket.connect();
        } catch (e) {
            console.log(e);
        }
    });
</script>
{% endwith %}
{% endif %}

{% endif %}
{% endwith %}

{% endblock %}

{% block app-content %}

{% with owners=subEnvironment.owners.all %}
{% if subEnvironment %}
    <b> {{ subEnvironment.name }} </b>
    <br>
    <br>
    Description: {{ subEnvironment.description }}
    <br>
    <br>
    {% if owners.exists %}
        <i> Owners: </i>
        <ul>
        {% for envUser in owners %}
            <li> {{ envUser }} </li>
        {% endfor %}
        </ul>
    {% endif %}

    {% if user.is_superuser or owners|filteruser:user %}
    <br>
    <div id="subenvironment-details">
    </div>
    {% endif %}

    {% if form %}
    <br>
    <form action="{% url 'simulator.views.run_simulation' 'subenvironment' %}" method="post">
    {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" value="Simulate" />
        <button type="button" disabled="disabled">Download Log</button>
    </form>
    {% endif %}

    {% if abstractProcess %}
    <div id="simulation-accordion">
        <h3>
            <a href="#accordion-header-{{ subEnvironment.id }}">
                {{ subEnvironment }}
            </a>
        </h3>
        <div id='div-process-{{ abstractProcess.id|escapejs }}'>
        </div>
    </div>
    {% endif %}
{% else %}
    <p>The requested SubEnvironment is invalid.</p>
{% endif %}
{% endwith %}

{% endblock %}
