{% extends "base.html" %}

{% load tag_extras %}

{% block extrastyle %}

{% with owners=subEnvironment.owners.all %}
{% if subEnvironment %}
{% if user.is_superuser or owners|filteruser:user %}
<script src="/resources/jstree/jquery.jstree.js" type="text/javascript"></script>

<script type="text/javascript">
    $(function () {
        $("#subenvironment-details").jstree({
            'json_data': {
                'data' : [
                {
                    'data': 'Environment Agents',
                    'state': 'open',
                    'children': [
                    {% for component in subEnvironment.envagent_set.all %}
                    {
                        'data': '{{ component.name }}',
                        'metadata': {
                            'link': '{{ component.file.url|escapejs }}',
                        },
                    },
                    {% endfor %}
                    ]
                },
                {
                    'data': 'Artifacts',
                    'state': 'open',
                    'children': [
                    {% for component in subEnvironment.artifact_set.all %}
                    {
                        'data': '{{ component.name }}',
                        'metadata': {
                            'link': '{{ component.file.url|escapejs }}',
                        },
                    },
                    {% endfor %}
                    ]
                },
                {
                    'data': 'Organizations',
                    'state': 'open',
                    'children': [
                    {% for component in subEnvironment.organization_set.all %}
                    {
                        'data': '{{ component.name }}',
                        'metadata': {
                            'link': '{{ component.file.url|escapejs }}',
                        },
                    },
                    {% endfor %}
                    ]
                },
                ]
            },
            'themes': {
                'theme': 'apple',
            },
            'plugins': [
                'themes',
                'json_data',
                'ui',
                'crrm',
            ],
        }).bind("select_node.jstree", function (event, data) {
            var link = data.rslt.obj.data('link');
            if (link)
                window.location.href = link;
        });
    });
</script>
{% endif %}
{% endif %}
{% endwith %}

{% endblock %}

{% block app-content %}

{% with owners=subEnvironment.owners.all %}
{% if subEnvironment %}
    <b> {{ subEnvironment.name }} </b>
    <br>
    <br>
    Description: {{ subEnvironment.description }}
    <br>
    <br>
    {% if owners.exists %}
        <i> Owners: </i>
        <ul>
        {% for envUser in owners %}
            <li> {{ envUser }} </li>
        {% endfor %}
        </ul>
    {% endif %}
    <br>
    {% if user.is_superuser or owners|filteruser:user %}
        <div id="subenvironment-details">
        </div>
    {% endif %}
    <br>
    <form action="">
    {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" value="Simulate" />
    </form>
{% else %}
    <p>The requested SubEnvironment is invalid.</p>
{% endif %}
{% endwith %}

{% endblock %}
