{% extends "base.html" %}

{% load tag_extras %}
{% load url from future %}

{% block extrastyle %}

<style type="text/css">
td.user-property {
    font-weight: bold;
}
</style>

<script src="/resources/jstree/jquery.jstree.js" type="text/javascript"></script>

<script type="text/javascript">
    function loadAccordion(event, data) {
        $("[id^=accordion]").accordion({
            collapsible: true,
        });
    }

    $(function () {
    {% if user.is_superuser or user == envUser.user %}
        $("#subenvironment-solutions").jstree({
            'json_data': {
                'data' : [
                {% for subSolutions in allSolutions %}
                {
                    'data': '{{ subSolutions.subEnvironment|escapejs }}',
                    'metadata': {
                    {% url 'subenvironment.views.index' as subEnvUrl %}
                        'link': '{{ subEnvUrl|escapejs }}',
                    },
                    'state': 'open',
                    'children': [
                    {% for solution in subSolutions.someSolutions %}
                    {
                        'data': '{{ solution.file|basename|escapejs }}',
                        'metadata': {
                            'link': '{{ solution.file.url|escapejs }}',
                        },
                    },
                    {% endfor %}
                    ]
                },
                {% endfor %}
                ]
            },
            'themes': {
                'theme': 'apple',
            },
            'plugins': [
                'themes',
                'json_data',
                'ui',
                'crrm',
            ],
        }).bind("select_node.jstree", function (event, data) {
            var link = data.rslt.obj.data('link');
            window.location.href = link;
        }).bind("loaded.jstree", loadAccordion);
    {% else %}
        loadAccordion();
    {% endif %}
    });
</script>

{% endblock %}

{% block app-content %}

{% if envUser %}
    <table>
        <tbody>
            <tr>
                <td class="user-property"> User Name: </td>
                <td> {{ envUser.user.username }} </td>
            </tr>
            <tr>
                <td class="user-property"> Full Name: </td>
                <td> {{ envUser.user.get_full_name }} </td>
            </tr>
            <tr>
                <td class="user-property"> Rank: </td>
                <td> {{ envUser.rank }} </td>
            </tr>
            <tr>
                <td class="user-property"> Economy: </td>
                <td> {{ envUser.economy }} </td>
            </tr>
        </tbody>
    </table>

    <div id="accordion-subenv">
        <h3><a href="#">Owned subenvironments</a></h3>
        <div>
            <p> No information available at the time. </p>
        </div>
    </div>

    {% if user.is_superuser or user == envUser.user %}
    <div id="accordion-soln">
        <h3><a href="#">Submitted solutions</a></h3>
        <div id="subenvironment-solutions">
        </div>
    </div>
    {% endif %}

{% else %}
    <p>The requested EnvUser is invalid.</p>
{% endif %}

{% endblock %}
